* {
  box-sizing: border-box;
}
html, body{
	height: 100%;
	width: 100%;
}

h1 {
	font-family: 'Nosifer', cursive;
	font-size: 25px;
}
div, section, aside {
	background-color: black;
}
header {
	background-color: #abb;
	display: flex;
	align-items: center;
	justify-content: center;
	height: 5%;
}
section	{
	border: 2px solid #ccc;
	height: 90%;
	width: 50%;
	float: left;
}
aside {
	/*border: 1px solid white;*/
	height: 90%;
	width: 50%;
	float: left;
}
footer {
	background-color: #abc;
	clear: both;
	display: flex;
	align-items: center;
	justify-content: center;
	height: 5%;
}
.container {
	border: 5px solid #888;
	height: 100%;
	margin: auto 25px;
}
.score {
	/*background-image: url("../images/nfl.jpeg");*/
	background-image: url("../images/field.jpeg");
	background-size: 100% 100%;
	background-repeat: no-repeat;
	text-align: center;
	height: 85%;
	width: 100%;
}
#timer {
	border: 3px solid white;
	border-radius: 5%;
	color: orange;
}
#hangman {
	/*border: 5px solid #888;*/
	background-image: url("../images/hangman.0.jpeg");
	background-size: 100% 100%;
	background-repeat: no-repeat;
	height: 90%;
	width: 100%;
}
.alphabet {
	border: 5px solid #ccc;
	background-image: url("../images/field.jpeg");
	background-size: 100% 100%;
	background-repeat: no-repeat;	
	display: flex;
	align-items: center;
	justify-content: center;
	height: 15%;
	width: 100%;
	overflow: auto;
}
.char {
	border: 1px solid #dee;
	color: #7cfc00;
	font-family: 'Oxygen';
	font-size: 25px;
	/*text-decoration-style: dotted;*/
	text-align: center;
	height: 35px;
	line-height: 30px;
}
.phrase {
	/*border: 5px solid #888;*/
	height: 10%;
	width: 100%;
	display: flex;
	align-items: center;
	justify-content: center;
}
.computerPick {
	background-image: url("../images/nfllogo.png");
	background-size: 100% 100%;
	background-repeat: no-repeat;
	text-align: center;
	line-height: 45px;
	font-size: 35px;
	height: 100%;
	width: 50%;			
}
.scoreboard {
	background-color: black;
	margin: auto;
	border: 5px solid #fff;
	padding-top: 5px;
	border-radius: 3%;
	color: white;
	width: 80%;
	height: 40%;
	/*overflow: auto;*/
}
.team {
	font-family: 'Orbitron';
	/*font-family: 'Oxygen';*/
	font-size: 24px;
	font-weight: bolder;
	width: 33.33%;
	float: left;
}
.points, .downs {
	clear: both;
	font-family: 'Orbitron';
	font-size: 20px;
	font-weight: bolder;
	width: 100%;
}
.point {
	font-size: 30px;
	color: orange;
	float: left;
	width: 33.33%	
}
.down {
	text-align: right;
	padding-top: 3px;
	margin-left: 10px;
	float: left;
	width: 23.33%
}
.stat {
	border: 2px solid white;
	color: orange;
	margin-left: 2px;
	float: left;
	border-radius: 5%;
	width: 7%;
}
header {
		color: #fff;
		-webkit-animation: change 5s infinite; /* Chrome, Safari, Opera */
		animation: change 3s infinite;
}	
@-webkit-keyframes change {
	from {
		color: #fff;
		background-color: #FF0066;
	}
	to {
		color: red;
		background-color: pink;
	}
}
@-webkit-keyframes change {
	from {
		color: #fff;
		background-color: #FF0066;
	}
	to {
		color: red;
		background-color: pink;
	}
}
@keyframes change {
	from {
		color: #fff;
		background-color: #FF0066;
	}
	to {
		color: red;
		background-color: pink;
	}
}
@keyframes change {
	from {
		color: #fff;
		background-color: #FF0066;
	}
	to {
		color: red;
		background-color: pink;
	}
}
